.section-title {
    margin-bottom: 47px;
    position: relative;
}
.section-title .sub-title {
    /*color: var(--main-color);*/
}
.section-title h2 {
    margin-bottom: 0;
}
.section-title p {
    margin-bottom: 0;
    margin-top: 13px;
}
.section-title a {
    margin-top: 25px;
}

.btn-base {
    color: #fff;
    border: 0;
    /*background: var(--main-color);*/
}
.btn-base:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #022334;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-duration: 0.4s;
}
.btn-base:hover, .btn-base:focus {
    color: #fff;
}
.btn-base:hover:before, .btn-base:focus:before {
    transform: scaleX(1);
}
.course-view-details-inner .details ul.price-area .btn-base {
    margin-right: 10px;
}

.single-course-inner {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
}
.single-course-inner .thumb {
    overflow: hidden;
    position: relative;
}
.single-course-inner .thumb img {
    transition: 0.7s;
}
.single-course-inner .thumb .rating {
    background: #f8f8f8;
    height: 36px;
    line-height: 36px;
    padding: 0 22px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 6px 0 0;
    font-size: 14px;
    font-weight: 600;
}
.single-course-inner .thumb .rating i {
    /*color: var(--main-color);*/
}
.single-course-inner .thumb .bookmark {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 20px;
    color: #fff;
    transition: 0.4s;
}
.single-course-inner .thumb .bookmark:hover {
    /*color: var(--main-color);*/
}
.single-course-inner .details {
    background: #f8f8f8;
    padding: 25px 30px;
    position: relative;
}
.single-course-inner .details .price {
    height: 55px;
    width: 55px;
    line-height: 56px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    /*background: var(--main-color);*/
    display: inline-block;
    position: absolute;
    right: 20px;
    top: -27px;
    z-index: 2;
    border-radius: 50%;
}
.single-course-inner .details .meta p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
}
.single-course-inner .details h5 {
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 25px;
}
.single-course-inner .details .price-inner p {
    font-weight: 600;
    margin-bottom: 0;
    /*color: var(--heading-color);*/
}
.single-course-inner .details .price-inner a {
    font-weight: 600;
    /*color: var(--heading-color);*/
}
.single-course-inner .details .price-inner a:hover {
    /*color: var(--main-color);*/
}
.single-course-inner:hover .thumb img {
    transform: scale(1.1);
}
.single-course-inner.style-two .details {
    padding: 25px 15px;
}

.carousel-indicators li{
    width: 12px;
    height: 12px;
    background-color: #fff;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 50%;
}
.carousel-indicators .active{
    background-color: #0aa1ed;
}
.carousel-control-prev,
.carousel-control-next{
    width: 4%;
    height: 20%;
    background-color: #aaaaaa;
    top:40%;
    border-radius: 0.25rem;
}

.celanbiaoti{
    font-size: 20px;
}

.news-list-item{
    padding: 0;
}
.news-list-item-dot{
    height: 1px;
    border-radius: 100%;
    width: 90%;
    display: inline-block;
    background-color: #339999;
}

.DivOfLunBoPic{
    position: relative;
}
.TextOfLunBoPic{
    position: absolute;
    z-index: 3;
    top: 78%;
    left: 30px;
    width: 90%;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
}


.linear {
    width: 100%;
    height: 600px;
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#b8c4cb, endColorStr=red);
    /*IE 6 7 8*/

    background: -ms-linear-gradient(top, #033360, #006495);
    /* IE 10 */

    background: -moz-linear-gradient(top, #033360, #006495);
    /*火狐*/

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#033360), to(#006495));
    /*谷歌*/

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#033360), to(#006495));
    /* Safari 4-5, Chrome 1-9*/

    background: -webkit-linear-gradient(top, #033360, #006495);
    /*Safari5.1 Chrome 10+*/

    background: -o-linear-gradient(top, #033360, #006495);
    /*Opera 11.10+*/
}

.YongHuTouXiang {
    width:30px;
    height:30px;
    border-radius:100%;
    overflow:hidden;
}

.YongHuTouXiang-CeLan {
    width:50px;
    height:50px;
    border-radius:100%;
    overflow:hidden;
}

.LieBiaoBiaoTi {
    font-size: 20px;
    font-weight: bold;
}

.ReMenZuoZhe {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.DanHangShengLueHao {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 80%;
}
.lunbo-cover::after{
    position: absolute;
    padding: 0;
    content: '';
    background: linear-gradient(to top, #339999, transparent 95%);
    top: 65%;
    height: 35%;
    left: 15px;
    width: 95%;
}
.litixiaoguo{
    box-shadow: 0 0 10px 10px lightgray;
}
