.a_XuanFu {
    display: none;
    width:100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    background-color:rgba(119,136,153,0.5);
}
.a_top{
    box-align:center;
    width:100%;
    height: 20%;
}

.p_top{
    margin-top: 15%;
    text-align: center;
}
.a1_top{
    align-content: center;
    cursor: pointer;
    float:left;
    width:50%;
    color: black;
    height: 100%;
}
.a2_top{
    cursor: pointer;
    float:left;
    width:50%;
    color: gray;
    height: 100%;
}
.a_login_left{
    text-align: center;
    height: 100%;
    width: 49%;
    float: left;
    background: darksalmon;
    border-radius: 25px 50% 50% 25px;
}
.a_login_right{
    height: 100%;
    width: 50%;
    float: left;
}
.a_img{
    border-radius: 25px 0 0 25px;
    margin-top: 10%;
}
.a_login{
    width: 60%;
    height: 60%;
    border-radius: 25px;
    border: 1px solid cornflowerblue;
    position: fixed;
    left: 20%;
    top: 20%;
    background-color:white;
}
.a_input{
    margin-top:15px;
    margin-left: 10%;
    border-radius: 3px;
    width: 80%;
    height: 40px;
    border: 1px solid #ddd;
    padding-left: 5px;
}
.a_iframe{
    height: 80%;
    width: 100%;
    scrolling:no;
    border: medium none;
}
.a_submit{
    margin-top:15px;
    margin-left: 10%;
    width:82%;
    height: 40px;
    background-color: orange;
    text-align: center;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}